<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Duplicate Ads</title>
  <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
</head>
<body>
  <div class="row repos">
    <div class="col-md-1 navArea">
      <p>
        Lorem ipsum Aute dolor officia proident Excepteur Duis sed consectetur dolor eu. Lorem ipsum Esse consequat non id Ut consectetur Ut. Lorem ipsum Eu elit et nisi dolor esse adipisicing in mollit eiusmod quis ut tempor. Lorem ipsum Exercitation culpa laboris eu irure dolore veniam culpa incididunt Ut. Lorem ipsum Laborum occaecat mollit eiusmod ad ad.
      </pn>
    </div>
    <div class="col-md-11">
      <div class="col-md-5">
        <div class="col-md-12">
          <div class="row" style="margin-bottom: 20px" id="fotorama">
            <div class="fotorama"  style="border: 3px solid black" data-nav="thumbs">
              <a href="http://s.fotorama.io/1.jpg"><img src="http://s.fotorama.io/1.jpg" width="200" height="96"></a>
              <a href="http://s.fotorama.io/2.jpg"><img src="http://s.fotorama.io/2.jpg" width="200" height="96"></a>
            </div>
          </div>
          <div class="row" style="border: 3px solid black" id="desc">
            <p class="text-center">Lorem ipsum Dolore non incididunt ut sit exercitation. Lorem ipsum Id tempor laborum sint reprehenderit adipisicing eu nisi fugiat adipisicing culpa sed. Lorem ipsum Culpa in non Duis proident sed quis anim exercitation sse deserunt laborum do magna nulla. Lorem ipsum Non in dolor reprehenderit in ut culpa.commodo.Lorem ipsum Id commodo proident ex laboris irure ullamco adipisicing. Lorem ipsum Laborum qui in non dolor irure enim ut et.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div class="row">
         <img class="img-responsive resizeImg"  src="/assets/check-icon.png" alt="OK">
       </div>
       <div class="row">
       <img class="img-responsive resizeImg"  src="/assets/del-icon.png" alt="KO">
      </div>
    </div>
    <div class="col-md-5 ">
      <div class="col-md-12">
        <div class="row" style="margin-bottom: 20px" id="fotoramaright">
         <div class="fotorama" style="border: 3px solid black" data-nav="thumbs">
          <a href="http://s.fotorama.io/1.jpg"><img src="1_thumb.jpg" width="200" height="96"></a>
          <a href="http://s.fotorama.io/2.jpg"><img src="2_thumb.jpg" width="200" height="96"></a>
        </div>
      </div>
      <div class="row" style="border: 3px solid black" id="desc">
        <p class="center-text">
          sit fugiat voluptate ut mollit nulla cupidatat in in. Lorem ipsum Irure aliquip adipisicing aliqua Excepteur cupidatat eu dolore nulla consequat minim.ipsum Cillum mollit minim eiusmod occaecat qui amet in adipisicing veniam non. Lorem ipsum Culpa qui cupidatat anim labore cillum Ut sint culpa. Lorem ipsum Eu qui non nulla adipisicing veniam Excepteur tempor in sit anim culpa.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <!--
  <div class="container">
    <div class="fotorama">
      <img src="http://s.fotorama.io/1.jpg">
      <img src="http://s.fotorama.io/2.jpg">
    </div>
  </div>  
-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
</body>
</html>